<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>会员日活动</title>
    <meta name="author" content="saotx">
    <meta name="keywords" content="烟,酒,茶"/>
    <meta name="description" content="扫天下"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="robots" content="all">
    <link rel="stylesheet" href="https://orange-qr.oss-cn-beijing.aliyuncs.com/css/reset.css?v=1.0.0">
    <script src="https://weiopn.oss-cn-beijing.aliyuncs.com/lib/sao_2.1.4jquery.min.js"></script>
    <!-- <script src="https://weiopn.oss-cn-beijing.aliyuncs.com/wx_front_core/lib/wx_share.js"></script> -->
    
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/platform_v2/tokenjs"></script>
    <!--<script src="https://weiopn.oss-cn-beijing.aliyuncs.com/hebeizhongyan/wx_memberday_share.js"></script>-->
    <script src="https://weiopn.oss-cn-beijing.aliyuncs.com/wx_front_core/lib/jquery.eraser.js"></script>
    <script src="https://weiopn.oss-cn-beijing.aliyuncs.com/common/s_public.js"></script>
</head>
<body>
    <div id="app"></div>
    
    <!-- built files will be auto injected -->
</body>
</html>