@charset "UTF-8";
/*CSS Reset*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  -webkit-appearance: none;
}

button {
  -webkit-appearance: none;
  border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  -webkit-touch-callout: none;
  text-decoration: none;
}

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

em, i {
  font-style: normal;
}

.clearfix:after, .popup-con.prize .prize-get .btn-con:after, .popup-con.late-over .late .btn-con:after {
  content: '';
  display: table;
  clear: both;
}

*, :after, :before {
  box-sizing: border-box;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*滚动条*/
::-webkit-scrollbar {
  width: 0rem;
  height: 0rem;
  display: none;
}

/*轨道颜色*/
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/*滑块颜色*/
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
}

/*CSS Reset end*/
html {
  background: #eee;
}

body {
  min-height: 100%;
  line-height: 1;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

button {
  transition: all .3s ease-in-out;
}
button:active {
  transform: scale(0.95);
}

body.modal-open {
  position: fixed;
  width: 100%;
  margin-left: calc((100% - 3.75rem)/2);
  margin-right: calc((100% - 3.75rem)/2);
}
.none {
  display: none;
}
.loading-con {
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.loading-con .loading {
  width: 0.8rem;
  height: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.loading-con .loading > div {
  float: left;
  width: 0.06rem;
  height: 100%;
  background: #fff;
  margin-left: 0.1rem;
  -webkit-animation: strechdelay 1.2s infinite ease-in-out;
}
.loading-con .loading .line2 {
  -webkit-animation-delay: -1.1s;
}
.loading-con .loading .line3 {
  -webkit-animation-delay: -1.0s;
}
.loading-con .loading .line4 {
  -webkit-animation-delay: -0.9s;
}
.loading-con .loading .line5 {
  -webkit-animation-delay: -0.8s;
}
@-webkit-keyframes strechdelay {
  0%,40%,100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
.popup-con {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.popup-con .shadow {
  width: 100%;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  bottom: 0;
}
.popup-con .popup {
  width: 3.005rem;
  height: 3.365rem;
  background: url(https://weiopn.oss-cn-beijing.aliyuncs.com/wx_hebei/img/bg-draw.png) no-repeat center;
  background-size: contain;
  letter-spacing: 0.01rem;
  overflow: hidden;
  // position: absolute;
  position: relative;
  // left: 50%;
  top: 1rem;
  margin: auto;
  // transform: translate(-50%, -50%);
  text-align: center;
}
.popup-con .popup-title {
  color: #fff;
  font-size: 0.2rem;
  line-height: 0.56rem;
  margin-top: 0.555rem;
  text-align: center;
}
.popup-con .btn {
  height: 0.36rem;
  background: #eb0a0a;
  border-radius: 0.04rem;
  color: #fff;
  font-size: 0.15rem;
  letter-spacing: 0.02rem;
}
.popup-con .btn a {
  width: 100%;
  height: 100%;
  color: #f9f6b6;
  display: block;
  line-height: 0.36rem;
}
.popup-con .btn-l {
  width: 2.6rem;
}
.popup-con .btn-s {
  width: 1.2rem;
}
.popup-con .btn-s.btn-s-r {
  background: none;
  border: 0.01rem solid #c52b2d;
  color: #c52b2d;
}
.popup-con em {
  display: block;
}
.popup-con h3 {
  color: #eb0a0a;
  font-size: 0.18rem;
  font-weight: bold;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  position: relative;
}

.index {
  background: #eee;
  overflow: hidden;
}

.hydt {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 9;
}
.hydt .hydt-moon {
  width: 1.16rem;
  height: 1.16rem;
  background: url(https://weiopn.oss-cn-beijing.aliyuncs.com/wx_hebei/img/moon.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.625rem 0 0 -0.65rem;
}
.hydt img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.comming {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}
.comming >img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
}
.comming .countdown {
  width: 2.615rem;
  height: 2.89rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.comming .countdown .three-seconds {
  display: none;
  color: #f8f2bf;
  font-size: 1.69rem;
  font-weight: 200;
  margin-top: 0.6rem;
  animation: miao 1s infinite ease-in-out;
  -webkit-animation: miao 1s infinite ease-in-out;
  text-shadow: 0 0 10px #fff997,0 0 10px #4e2f35;
  text-indent: 0.75rem;
  position: relative;
}
.comming .countdown .three-seconds img {
  width: 1rem;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  display: none;
}
.comming .countdown .three-seconds img.show {
  display: block;
}
.comming .countdown em {
  display: none;
  color: #f00;
  display: block;
  font-size: 0.16rem;
  font-weight: bold;
  margin: 1.5rem 0 0.075rem;
  text-align: center;
}
.comming .countdown .thirty-seconds {
  display: none;
  background: url(https://weiopn.oss-cn-beijing.aliyuncs.com/wx_hebei/img/c30.png) no-repeat;
  background-size: 3.465rem 0.25rem;
  background-position: center 0.45rem;
  color: #f8f2bf;
  font-size: 0.575rem;
  text-shadow: 0 0 10px #fff997,0 0 10px #4e2f35;
  text-align: center;
  padding-bottom: 1rem;
}

.game-con {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.game-con > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.game-con .game-list {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.game-con .game-list li {
  position: absolute;
  top: 0;
  transform: translate(0, -110%);
  animation: down 5s linear forwards;
  -webkit-animation: down 5s linear forwards;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.game-con .game-list li img {
  display: block;
}
.game-con .game-list li.high {
  z-index: 2;
}
.game-con .packet {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.game-con .packet img {
  width: 1.115rem;
  height: 0.65rem;
  margin: -0.555rem auto 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.game-con .packet img.ani {
  animation: flipInY 2s ease-out forwards;
}
@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  30% {
    transform: perspective(400px) rotateY(-20deg);
    animation-timing-function: ease-in;
  }
  45% {
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  60% {
    transform: perspective(400px) rotateY(-5deg);
  }
  75% {
    transform: perspective(400px);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
    opacity: 0;
  }
}
.game-con .num-con {
  // color: #e2b34f;
  font-size: 0.14rem;
  position: absolute;
  top: 0.15rem;
  left: 0.19rem;
  z-index: 3;
}
.game-con .num-con p {
  margin-bottom: 0.08rem;
}
.game-con .num-con p span {
  color: #EB0A0A;
}
.game-con .num-con .remain-num {
  display: none;
}
.game-con .prized-con {
  display: none;
  width: 3.425rem;
  height: 0.655rem;
  background: url(https://weiopn.oss-cn-beijing.aliyuncs.com/wx_hebei/img/bg-broadcast.png) no-repeat;
  background-size: cover;
  color: #3f2d05;
  font-size: 0.14rem;
  overflow: hidden;
  padding: 0 0.37rem;
  position: absolute;
  bottom: 0.075rem;
  left: 0.165rem;
  z-index: 3;
}
.game-con .prized-con .prized-main {
  overflow: hidden;
  padding: 0.025rem 0;
}
.game-con .prized-con .prized-height {
  margin: 0.2rem 0;
  height: 0.455rem;
  position: relative;
  overflow: auto;
}
.game-con .prized-con .prized-main.less {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.game-con .prized-con ul {
  overflow: hidden;
}
.game-con .prized-con ul li {
  line-height: 0.2rem;
}
.game-con .prized-con ul li p {
  display: inline-block;
  margin-left: 0.19rem;
}
.game-con .prized-con ul li span {
  display: inline-block;
  width: 0.6rem;
  vertical-align: middle;
}
@keyframes down {
  100% {
    transform: translate3d(0, calc(100vh + 100%), 0);
    -webkit-transform: translate3d(0, calc(100vh + 100%), 0);
  }
}
@-webkit-keyframes down {
  100% {
    transform: translate3d(0, calc(100vh + 100%), 0);
    -webkit-transform: translate3d(0, calc(100vh + 100%), 0);
  }
}
@-webkit-keyframes miao {
  0%,100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
}
@keyframes miao {
  0%,100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
}
@keyframes zoom {
  0%,100% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes titlemove {
  0%,100% {
    opacity: 1;
    transform: translate3d(0%, 0, 0);
  }
  50% {
    transform: translate3d(-48%, 0, 0);
  }
}
.popup-con.prize h3 {
  margin-top: 0.345rem;
}
.popup-con.prize .prize-show .num, .popup-con.prize .prize-show .prompt {
  color: #666;
  font-size: 0.18rem;
}
.popup-con.prize .prize-show .num {
  margin: 0.165rem 0 0.185rem;
}
.popup-con.prize .prize-show .money {
  color: #c2272b;
  font-size: 0.36rem;
  font-weight: bold;
  margin-bottom: 0.24rem;
}
.popup-con.prize .prize-get {
  display: none;
}
.popup-con.prize .prize-get .title {
  margin: 0.105rem 0 0.29rem;
}
.popup-con.prize .prize-get em {
  color: #f4471e;
  font-size: 0.13rem;
  font-weight: bold;
  margin: 0.29rem 0 0.08rem;
}
.popup-con.prize .prize-get .prompt {
  color: #666;
  font-size: 0.13rem;
}
.popup-con.prize .prize-get .btn-con .btn {
  float: left;
}
.popup-con.prize .prize-get .btn-s-l {
  margin: 0 0.2rem;
}
.popup-con.late-over .late {
  display: none;
}
.popup-con.late-over .late h3 {
  margin-top: 0.625rem;
}
.popup-con.late-over .late .title {
  margin: 0.1rem 0 0.555rem;
}
.popup-con.late-over .late .prompt {
  color: #666;
  font-size: 0.13rem;
  margin-top: 0.15rem;
}
.popup-con.late-over .late .btn-con .btn {
  float: left;
}
.popup-con.late-over .late .btn-s-l {
  margin: 0 0.2rem;
}
.popup-con.late-over .over {
  display: none;
}
.popup-con.late-over .over h3 {
  margin-top: 0.41rem;
}
.popup-con.late-over .over .title {
  margin: 0.1rem 0 0.685rem;
}
.popup-con.limit {
  display: none;
}
.popup-con.limit .popup {
  padding: 0 0.1rem;
}
.popup-con.limit h3 {
  margin-top: 0.6rem;
  line-height: 0.3rem;
}
.popup-con.limit .btn {
  margin-top: 0.5rem;
}
.popup-con.already .has-next {
  display: none;
}
.popup-con.already .has-next h3 {
  margin-top: 0.705rem;
}
.popup-con.already .has-next .title {
  font-size: 0.16rem;
  margin-top: 0.1rem;
}
.popup-con.already .has-next .btn {
  margin-top: 0.7rem;
}
.popup-con.already .no-next {
  display: none;
}
.popup-con.already .no-next h3 {
  margin-top: 0.42rem;
}
.popup-con.already .no-next .btn {
  margin-top: 0.84rem;
}

.share-arrow {
  display: none;
  width: 100%;
  position: fixed;
  top: 0.05rem;
  z-index: 10;
}
.share-arrow img {
  width: 2.93rem;
  height: 1.15rem;
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */


/**2017-12-27*/
.ui-rule {
  display: none;
  z-index: 100;
}
.ui-rule img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.ui-rule .btn-rule {
  position: absolute;
  bottom: 1.1rem;
  transform: translateX(-50%);
  left: 50%;
  height: 0.3rem;
  width: 1.3rem;
  border: 1px solid #333;
  border-radius: 0.06rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.15rem;
  color: #333;
}
.ui-rule .btn-rule img {
  position: absolute;
  width: 0.06rem;
  height: 0.1rem;
  display: inline;
  transform: translateY(-50%);
  top: 50%;
  margin-left: 0.08rem;
}
.ui-rule button {
  position: absolute;
  bottom: 0.55rem;
  transform: translateX(-50%);
  left: 50%;
  width: 1.9rem;
  height: 0.4rem;
  border-radius: 0.06rem;
  border: 1px solid #eb0a0a;
  background: #eb0a0a;
  color: #fff;
  font-size: 0.24rem;
}

.pop-rule {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}
.pop-rule img.close {
  position: absolute;
  transform: translate(50%, -50%);
  right: 0;
  top: 0;
  height: 0.2rem;
  width: 0.2rem;
}
.pop-rule .rule-content {
  position: relative;
  width: 3.325rem;
  height: 4.82rem;
  // transform: translateX(-50%);
  // left: 50%;
  margin: 0.6rem auto 0;
  background: url(https://weiopn.oss-cn-beijing.aliyuncs.com/wx_hebei/img/bg-pop.png) no-repeat;
  background-size: cover;
  padding: 0.15rem;
}
.pop-rule .rule-content h3 {
  color: #333;
  font-size: 0.21rem;
  font-weight: bold;
  margin: 0.22rem 0;
  text-align: center;
}
.pop-rule .rule-content p {
  color: #363535;
  font-size: 0.14rem;
  line-height: 0.25rem;
  text-indent: -0.2rem;
  padding: 0 0.04rem 0 0.22rem;
}
.pop-rule .rule-content p span {
  color: #EB0A0A;
}
.pop-rule .rule-content div {
  color: #666;
  font-size: 0.12rem;
  line-height: 0.18rem;
  margin-top: 0.24rem;
}
@keyframes popup {
  0% { transform: scale(0) }
  40% { transform: scale(1.1) }
  60% { transform: scale(1) }
  80% { transform: scale(.9) }
  100% { transform: scale(1) }
}

.popup,
.rule-content {
  animation: popup .8s;
  -webkit-animation: popup .8s;
}

.ui-wxpng {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 1000;
  display: none;
}
.ui-wxpng .img-content {
  position: relative;
  width: 3.1rem;
  height: 4.15rem;
  margin: .5rem auto 0;
  background: url(https://weiopn.oss-cn-beijing.aliyuncs.com/wx_hebei/img/bgpopimg@2x.png) no-repeat center center;
  background-size: cover;
  border-radius: 0.075rem;
  animation: popup .8s;
  -webkit-animation: popup .8s;
  padding: 0.55rem 0.25rem 0;
  box-sizing: border-box;
  line-height: 0.225rem;
}
.ui-wxpng .img-title {
  font-weight: 500;
}
.ui-wxpng  .img-bottom {
  margin: 0rem;
  text-align: center;
  width: 1.52rem;
  border: 0.02rem outset #FAFBC8;
  margin: auto;
  font-size: 0.11rem;
  font-weight: 500;
  margin-top: 0.025rem;
  line-height: 0.15rem;
}
.ui-wxpng  img.close {
  position: absolute;
  width: 0.18rem;
  height: 0.18rem;
  right: 0.1rem;
  top: 0.1rem;
}
.ui-wxpng img.png {
  position: relative;
  width: 1.56rem;
  height: 1.56rem;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 0.25rem;
}
.ui-wxpng p {
  font-size: 0.16rem;
  color: #C7000B;
}
