<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>点元宝，验真享好礼</title>
    <meta name="author" content="saotx">
    <meta name="keywords" content="烟,酒,茶"/>
    <meta name="description" content="扫天下"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="robots" content="all">
    <link rel="stylesheet" href="https://weiopn.oss-cn-beijing.aliyuncs.com/wx_hebei/css/reset.css?v=1.0.0">
    <script type="text/javascript" src="https://weiopn.oss-cn-beijing.aliyuncs.com/wx_hebei/lib/wx_global.js?v=1.0.0"></script>
    <script src="/platform_v2/tokenjs"></script>
    <script src="https://weiopn.oss-cn-beijing.aliyuncs.com/wx_front_core/lib/wx_share.js?v=1.0.1"></script>
</head>
<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>
</html>